private_dns = {
  fa_dns_re1 = {
    name               = "privatelink.azurewebsites.net" # must be this name - do not change
    resource_group_key = "fa_rg_re1"

    vnet_links = {
      app_internet_vnet_link = {
        name                 = "app-internet-vnet"
        registration_enabled = false
        virtual_network_id   = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{internet_vnet_name}}"
      }
      app_management_vnet_link = {
        name                 = "db-management-vnet"
        registration_enabled = false
        virtual_network_id   = "/subscriptions/{{subscription_id}}/resourceGroups/{{resource_group_name}}/providers/Microsoft.Network/virtualNetworks/{{management_vnet_name}}"
      }
    }

    tags = { 
      purpose = "internet fa private dns" 
      project-code = "escep" 
      env = "uat" 
      zone = "internet"
      tier = "app"          
    } 

  }
}
