resource_groups = {
  fa_rg_re1 = {
    name = "function-app-re1"           
    region = "region1"    
    tags = { 
      purpose = "internet function app resource group" 
      project-code = "escep" 
      env = "uat" 
      zone = "internet"
      tier = "app"          
    }     
  }
}